* {

    /* background-color:antiquewhite; */

}
header {
    text-align: end;
}



#app {
    background-color: blue;
    width: 90%; 
    max-width: 600px;
    margin: 250px auto 0;
    padding: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    border-radius: 8%;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;


}

#show{
     visibility: visible;
}

#hide {
    visibility: hidden;
}
#qStatus {
    text-shadow: #333;
    font-size: 45px;
    text-align: center;
    margin: 20px;
    

}

.show {
    visibility: visible
}