* {

    /* background-color:antiquewhite; */

}
header {
    text-align: end;
}



#app {
    background-color: blue;
    width: 90%; 
    max-width: 600px;
    margin: 340px auto 0;
    padding: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    border-radius: 8%;
}
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    margin: 10px 0;


}

#next{
     display: none; 
}